.User {
    position: relative;
    top: 5px;
    width: 100vw;
    height: 100vh;
}
.UserMain{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #b9f5f5;
}