
.Text{
    font-size: 25px;
}
.MainEpisode{
    height: 11vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 21vw;
    margin-top: 15px;
    border: 2px solid black;
}

.MainEpisode:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}